parts.lst
parts/bb-*
parts/sc-*
parts/nut-*
parts/washer-*
parts/pin-*
parts/drv-mbkitronic.dat
parts/28BYJ-motor.dat
parts/gearbox-motor.dat
parts/geek-servo.dat
parts/nema14-motor.dat
parts/nema17-motor.dat
parts/hc-s04.dat
parts/rcw-0001.dat
parts/switch.dat
parts/ping-pong.dat
parts/o-ring-*.dat
parts/bearing-608.dat
parts/tool.dat
parts/shaft-*.dat
stl
png
catalog.db
