parts.lst
parts/bb-*
parts/sc-*
parts/nut-*
parts/washer-*
parts/drv-mbkitronic.dat
parts/gearbox-motor.dat
parts/nema14-motor.dat
parts/nema17-motor.dat
parts/hc-s04.dat
parts/rcw-0001.dat
parts/switch.dat
parts/ping-pong.dat
parts/o-ring-53.dat
stl
